apiVersion: liberty.websphere.ibm.com/v1
kind: WebSphereLibertyApplication
metadata:
  name: websphereliberty-app-sample
spec:
  license:
    accept: false
    edition: IBM WebSphere Application Server
    productEntitlementSource: Standalone
  applicationImage: icr.io/appcafe/open-liberty/samples/getting-started@sha256:752fe4e5133dd87c7266142cd1b954a2a96b08c077cecb10e91e1070e8276921
  expose: true
  manageTLS: true
  replicas: 1
  serviceAccount:
    mountToken: true

